@import "tailwindcss";

:root {
  --primary: #0f172a;
  --secondary: #3b82f6;
  --accent: #f59e0b;
  --background: #f8fafc;
  --surface: #ffffff;
  --text-main: #1e293b;
  --text-light: #64748b;
}

body {
  background-color: var(--background);
  color: var(--text-main);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
